# US Housing Market Data by Zip Code

In [31]:
import pandas as pd

# Load the TSV file data downloaded from Redfin https://www.redfin.com/news/data-center/
df = pd.read_csv('./zip_code_market_tracker.tsv000', sep='\t')

In [32]:
# Explore the Data
# Display the first few rows
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2019-04-01,2019-06-30,90,zip code,2,36196,f,Zip Code: 85023,NaN,Arizona,...,0.007470,NaN,NaN,NaN,0.294118,0.000000,-0.039216,"Phoenix, AZ",38060,2023-09-24 14:28:29
1,2022-05-01,2022-07-31,90,zip code,2,17381,f,Zip Code: 41035,NaN,Kentucky,...,0.068627,NaN,NaN,NaN,0.615385,0.043956,0.215385,"Cincinnati, OH",17140,2023-09-24 14:28:29
2,2014-08-01,2014-10-31,90,zip code,2,20673,f,Zip Code: 48421,NaN,Michigan,...,0.006897,NaN,NaN,NaN,0.250000,-0.083333,-0.350000,"Warren, MI",47664,2023-09-24 14:28:29
3,2019-03-01,2019-05-31,90,zip code,2,3275,f,Zip Code: 10033,NaN,New York,...,0.000000,NaN,NaN,NaN,0.000000,-0.200000,0.000000,"New York, NY",35614,2023-09-24 14:28:29
4,2021-09-01,2021-11-30,90,zip code,2,19606,f,Zip Code: 46383,NaN,Indiana,...,0.400000,NaN,NaN,NaN,1.000000,0.833333,1.000000,"Gary, IN",23844,2023-09-24 14:28:29

In [33]:
# Display the raw data columns
print(df.columns)

df.count()

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')

period_begin                      7373203
period_end                        7373203
period_duration                   7373203
region_type                       7373203
region_type_id                    7373203
table_id                          7373203
is_seasonally_adjusted            7373203
region                            7373203
city                                    0
state                             7373203
state_code                        7373203
property_type                     7373203
property_type_id                  7373203
median_sale_price                 7359274
median_sale_price_mom             7018991
median_sale_price_yoy             6414105
median_list_price                 6818350
median_list_price_mom             6468596
median_list_price_yoy             6013849
median_ppsf                       7275926
median_ppsf_mom                   6939171
median_ppsf_yoy                   6339381
median_list_ppsf                  6766996
median_list_ppsf_mom              6420499
median_list_ppsf_yoy              5968829
homes_sold                        7359819
homes_sold_mom                    7019525
homes_sold_yoy                    6414674
pending_sales                     5210221
pending_sales_mom                 4460256
pending_sales_yoy                 4300944
new_listings                      6778718
new_listings_mom                  6429947
new_listings_yoy                  5969046
inventory                         6559824
inventory_mom                     6234555
inventory_yoy                     5790572
months_of_supply                        0
months_of_supply_mom                    0
months_of_supply_yoy                    0
median_dom                        7274490
median_dom_mom                    6934504
median_dom_yoy                    6320980
avg_sale_to_list                  7160321
avg_sale_to_list_mom              6829108
avg_sale_to_list_yoy              6246123
sold_above_list                   7303425
sold_above_list_mom               6965737
sold_above_list_yoy               6363320
price_drops                             0
price_drops_mom                         0
price_drops_yoy                         0
off_market_in_two_weeks           5342350
off_market_in_two_weeks_mom       4574816
off_market_in_two_weeks_yoy       4408071
parent_metro_region               7373203
parent_metro_region_metro_code    7373203
last_updated                      7373203
dtype: int64

In [37]:
# Update region column to only show 5 digits zipcode
df["region"] = df["region"].apply(lambda x : x.split(': ')[1])
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2019-04-01,2019-06-30,90,zip code,2,36196,f,85023,NaN,Arizona,...,0.007470,NaN,NaN,NaN,0.294118,0.000000,-0.039216,"Phoenix, AZ",38060,2023-09-24 14:28:29
1,2022-05-01,2022-07-31,90,zip code,2,17381,f,41035,NaN,Kentucky,...,0.068627,NaN,NaN,NaN,0.615385,0.043956,0.215385,"Cincinnati, OH",17140,2023-09-24 14:28:29
2,2014-08-01,2014-10-31,90,zip code,2,20673,f,48421,NaN,Michigan,...,0.006897,NaN,NaN,NaN,0.250000,-0.083333,-0.350000,"Warren, MI",47664,2023-09-24 14:28:29
3,2019-03-01,2019-05-31,90,zip code,2,3275,f,10033,NaN,New York,...,0.000000,NaN,NaN,NaN,0.000000,-0.200000,0.000000,"New York, NY",35614,2023-09-24 14:28:29
4,2021-09-01,2021-11-30,90,zip code,2,19606,f,46383,NaN,Indiana,...,0.400000,NaN,NaN,NaN,1.000000,0.833333,1.000000,"Gary, IN",23844,2023-09-24 14:28:29

In [38]:
# Check for missing values
print(df.isnull().sum())

period_begin                            0
period_end                              0
period_duration                         0
region_type                             0
region_type_id                          0
table_id                                0
is_seasonally_adjusted                  0
region                                  0
city                              7373203
state                                   0
state_code                              0
property_type                           0
property_type_id                        0
median_sale_price                   13929
median_sale_price_mom              354212
median_sale_price_yoy              959098
median_list_price                  554853
median_list_price_mom              904607
median_list_price_yoy             1359354
median_ppsf                         97277
median_ppsf_mom                    434032
median_ppsf_yoy                   1033822
median_list_ppsf                   606207
median_list_ppsf_mom               952704
median_list_ppsf_yoy              1404374
homes_sold                          13384
homes_sold_mom                     353678
homes_sold_yoy                     958529
pending_sales                     2162982
pending_sales_mom                 2912947
pending_sales_yoy                 3072259
new_listings                       594485
new_listings_mom                   943256
new_listings_yoy                  1404157
inventory                          813379
inventory_mom                     1138648
inventory_yoy                     1582631
months_of_supply                  7373203
months_of_supply_mom              7373203
months_of_supply_yoy              7373203
median_dom                          98713
median_dom_mom                     438699
median_dom_yoy                    1052223
avg_sale_to_list                   212882
avg_sale_to_list_mom               544095
avg_sale_to_list_yoy              1127080
sold_above_list                     69778
sold_above_list_mom                407466
sold_above_list_yoy               1009883
price_drops                       7373203
price_drops_mom                   7373203
price_drops_yoy                   7373203
off_market_in_two_weeks           2030853
off_market_in_two_weeks_mom       2798387
off_market_in_two_weeks_yoy       2965132
parent_metro_region                     0
parent_metro_region_metro_code          0
last_updated                            0
dtype: int64

In [39]:
# Define the list of columns to keep
columns_to_keep = ['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated']

In [40]:
# # Keep only the specified columns
cleaned_df = df[columns_to_keep]

In [41]:
# Example: Drop rows with any missing values
cleaned_df.dropna(inplace=True)

/var/folders/jv/0s5w320d3gvbhrh7g7cc__r80000gn/T/ipykernel_49633/191538310.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df.dropna(inplace=True)

In [45]:
# Remove duplicates
cleaned_df.drop_duplicates(inplace=True)

/var/folders/jv/0s5w320d3gvbhrh7g7cc__r80000gn/T/ipykernel_49633/673544113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df.drop_duplicates(inplace=True)

In [46]:
cleaned_df.count()

period_begin                      3810252
period_end                        3810252
period_duration                   3810252
region_type                       3810252
region_type_id                    3810252
table_id                          3810252
is_seasonally_adjusted            3810252
region                            3810252
state                             3810252
state_code                        3810252
property_type                     3810252
property_type_id                  3810252
median_sale_price                 3810252
median_sale_price_mom             3810252
median_sale_price_yoy             3810252
median_list_price                 3810252
median_list_price_mom             3810252
median_list_price_yoy             3810252
median_ppsf                       3810252
median_ppsf_mom                   3810252
median_ppsf_yoy                   3810252
median_list_ppsf                  3810252
median_list_ppsf_mom              3810252
median_list_ppsf_yoy              3810252
homes_sold                        3810252
homes_sold_mom                    3810252
homes_sold_yoy                    3810252
pending_sales                     3810252
pending_sales_mom                 3810252
pending_sales_yoy                 3810252
new_listings                      3810252
new_listings_mom                  3810252
new_listings_yoy                  3810252
inventory                         3810252
inventory_mom                     3810252
inventory_yoy                     3810252
median_dom                        3810252
median_dom_mom                    3810252
median_dom_yoy                    3810252
avg_sale_to_list                  3810252
avg_sale_to_list_mom              3810252
avg_sale_to_list_yoy              3810252
sold_above_list                   3810252
sold_above_list_mom               3810252
sold_above_list_yoy               3810252
off_market_in_two_weeks           3810252
off_market_in_two_weeks_mom       3810252
off_market_in_two_weeks_yoy       3810252
parent_metro_region               3810252
parent_metro_region_metro_code    3810252
last_updated                      3810252
dtype: int64

In [47]:
# Create two separate DataFrames based on the condition
before_2023 = cleaned_df[cleaned_df['period_begin'] < '2023-01-01']
after_2023 = cleaned_df[cleaned_df['period_begin'] >= '2023-01-01']

In [49]:
# Save the DataFrames to separate CSV files
before_2023.to_csv('zip_market_before_2023.csv', index=False)
after_2023.to_csv('zip_market_after_2023.csv', index=False)