# US Zip Code Data

In [2]:
import pandas as pd

# Load the US zipcode data
zipcode = pd.read_csv('./zip_code_database.csv', dtype={'zip': str})

In [3]:
zipcode.columns

Index(['zip', 'type', 'primary_city', 'acceptable_cities',
       'unacceptable_cities', 'state', 'county', 'timezone', 'area_codes',
       'latitude', 'longitude', 'world_region', 'country', 'decommissioned',
       'estimated_population', 'notes'],
      dtype='object')

In [4]:
zip_cols = ["zip", "primary_city", 'state', 'latitude', 'longitude']
cleaned_zipcode = zipcode[zip_cols]
cleaned_zipcode["city_state"] = cleaned_zipcode["primary_city"] + ", " + cleaned_zipcode["state"]
cleaned_zipcode.head()

/var/folders/jv/0s5w320d3gvbhrh7g7cc__r80000gn/T/ipykernel_49855/3063082377.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_zipcode["city_state"] = cleaned_zipcode["primary_city"] + ", " + cleaned_zipcode["state"]

     zip primary_city state  latitude  longitude      city_state
0  00501   Holtsville    NY     40.81     -73.04  Holtsville, NY
1  00544   Holtsville    NY     40.81     -73.04  Holtsville, NY
2  00601     Adjuntas    PR     18.16     -66.72    Adjuntas, PR
3  00602       Aguada    PR     18.38     -67.18      Aguada, PR
4  00603    Aguadilla    PR     18.43     -67.15   Aguadilla, PR

In [7]:
# Example: Drop rows with any missing values
cleaned_zipcode.dropna(inplace=True)
# Remove duplicates
cleaned_zipcode.drop_duplicates(inplace=True)
cleaned_zipcode.count()

/var/folders/jv/0s5w320d3gvbhrh7g7cc__r80000gn/T/ipykernel_49855/908333541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_zipcode.dropna(inplace=True)
/var/folders/jv/0s5w320d3gvbhrh7g7cc__r80000gn/T/ipykernel_49855/908333541.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_zipcode.drop_duplicates(inplace=True)

zip             42522
primary_city    42522
state           42522
latitude        42522
longitude       42522
city_state      42522
dtype: int64

In [8]:
# Save the DataFrames to new CSV files
cleaned_zipcode.to_csv('zipcode_city.csv', index=False)